# LOGS
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# NODE MODULES & BUILDS
node_modules/
dist/
dist-ssr/
*.local

# PYTHON CRUFT
__pycache__/
*.py[cod]
*.pyo
*.pyd

# $ECRET$
.env
back-end/.env

# SYSTEM FILES
.DS_Store

# EDITOR FILES
.idea/
.vscode/
